doctype html
html(ng-app="mcDatesApp")
	head
		title= title

		script(src="/js/jquery.js")

		script(src="/js/angular.js")
		script(src="/js/angular-animate.js")
		script(src="/js/angular-aria.js")
		script(src="/js/angular-messages.js")

		link(rel="stylesheet" href="/css/angular-material.css")
		script(src="/js/angular-material.js")

		script(src="/js/moment.js")

		link(rel="stylesheet" href="/css/styles.css")
		script(src="/js/app.js")
	body
		block content

//- EOF